@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --primary: #10b981;
  --primary-light: #d1fae5;
  --primary-dark: #047857;

  --secondary: #3b82f6;
  --secondary-light: #dbeafe;
  --secondary-dark: #1e40af;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* green */
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-primary-dark: var(--primary-dark);

  /* blue */
  --color-secondary: var(--secondary);
  --color-secondary-light: var(--secondary-light);
  --color-secondary-dark: var(--secondary-dark);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: #f9fafb;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
